.modal {
  position: absolute;
  transform: translate(-58px, 2px);
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  border-radius: 10px;
  padding: 16px;
  z-index: 1000;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--primary-color-white);

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.settings,
.logout {
  display: flex;
  align-items: center;
}

.settingsBtn,
.logoutBtn {
  background: none;
  border: none;
  color: var(--primary-color-blue);
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  padding: 0;
  margin-left: 0.5rem;
}

.settingsBtn:hover,
.logoutBtn:hover {
  color: var(--secondary-orange);
  background: none;
}

.settings svg,
.logout svg {
  width: 16px;
  height: 16px;
  fill: var(--primary-color-white);
  stroke: var(--primary-color-blue);
}
