.userLogoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 30px;
  height: 30px;
}

.userLogoButton:hover {
  border: 1px solid var(--secondary-color-orange);
}

.avatar {
  width: 28px;
  height: 28px;
  object-fit: cover;
  border-radius: 50%;
}

.userInitial {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--primary-color-white);
  background-color: var(--primary-color-blue);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-weight: bold;
}

.point {
  display: flex;
  align-items: center;
}

.logobox {
  display: flex;
  align-items: center;
  position: relative;
}

.logobox:hover {
  fill: var(--secondary-color-orange);
}

.icon {
  width: 16px;
  height: 16px;
  fill: var(--primary-color-blue);
  cursor: pointer;
  margin-left: 4px;
}

.icon:hover {
  fill: var(--secondary-color-orange);
}

.user {
  font-weight: 400;
  font-size: 16px;
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  color: var(--primary-color-black);
}

@media (min-width: 768px) {
  .user {
    max-width: none;
  }
}
