.todayContainer{
    width: 264px;
    height: 258px;
    margin-bottom: 24px;
}
.todayTitle{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.25;
    color: var(--black);
    margin-bottom: 16px;
}
.list_waters{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 188px;
    overflow: auto;
    margin-bottom: 12px;
}
.list_waters::-webkit-scrollbar{
    width: 2px;
    border-radius: 8px;
}
.list_waters::-webkit-scrollbar-track {
    background: var(--air-force-blue);

  }
  .list_waters::-webkit-scrollbar-thumb {
    border-radius: 8px;
    width: 4px;
    background-color:var(--light-blue);
  }

.list_item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.today_container {
    position: relative;
}
.waterItemblok{
    display: flex;
    align-items: center;
}

.contentItemblok{
    display: flex;
    width: 118px;
    justify-content: space-between;

}
.waterItem{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33333;
    color: var(--blue);

}
.timeItem{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: var(--black);

}
.itemButtonblok{
    display: flex;
}
.editButton{
    border: none;
    background-color: inherit;
}

.iconEdit{
    fill: none;
    stroke: var(--light-blue);
}
.iconDel{
    fill: none;
    stroke: var(--amaranth);
}
.delButton{
    border: none;
    background-color: inherit;
}
.button{
    border: none;
    background-color: inherit;
}
.buttonblok{
    display: flex;
    align-items: center;
}
.iconPlus{
    margin-right: 8px;
}
.buttonText{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--blue);
}
@media screen and (min-width: 768px) {
    .todayContainer{
        width: 656px;
        margin-bottom: 45px;
    }
    .waterItemblok {
        width: 206px;
    }
    .contentItemblok{
        width: 206px;
        margin-left: 20px;
    }
    .iconGlas {
        width: 36px;
        height: 36px;
    }
    .todayTitle{
        font-size: 26px;
        line-height: 1.23077;
    }
    .buttonText{
        font-size: 18px;
        line-height: 1.33333;
    }
}
@media only screen and (min-width: 1440px) {
    .todayContainer {
            width: 544px;
            margin-bottom: 45px;
        }
}







.container {
    border-radius: 10px;
    padding: 24px 12px;
    width: 280px;
    height: 648px;
    background-color: var(--white);

}
.containerDel{
    border-radius: 10px;
    padding: 32px 24px;
    width: 280px;
    height: 280px;
    background-color: var(--white);
}

.containerBtnDel{
    display: flex;
    flex-direction:column-reverse;
    gap: 24px;
}

.textDel{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
    color: var(--black);
    margin-bottom: 24px;
}
.btnDeletelDel{
    border: none;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: var(--white);

    border-radius: 10px;
    padding: 8px 30px;
    width: 232px;
    height: 36px;
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    background: var(--amaranth);
}
.btnCancellDel{
    border: none;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: var(--blue);

    border-radius: 10px;
    padding: 8px 30px;
    width: 232px;
    height: 36px;
    background: var(--air-force-blue);
}
/* first block */

.contentItemblokEdit {
    display: flex;
    width: 118px;
    margin-left: 12px;
    justify-content: space-between;
}

.firstblock {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 24px;
}

.exit {
    border: none;
    background-color: var(--white);
}

.title {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 26px;
    line-height: 1.23;
    color: var(--black);
}
.waterItemblokEdit{
    display: flex;
    align-items: center;

    width: 254px;
    height: 52px;
    padding: 8px 24px;
    background-color: var(--very-light-blue);
    border-radius: 10px;
}




.description {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
    color: var(--black);
    padding-bottom: 16px;
}


/* second block */

.secondblock {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 24px;
}

.desc {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.25;
    color: var(--black);

}

.amount {
    display: flex;
    gap: 7px;
    align-items: center;

}

.btn {
    box-shadow: 0 2px 4px 0 rgba(64, 123, 255, 0.2);
    background: var(--white);
    border: 1px solid var(--light-blue);
    border-radius: 30px;
    padding: 10px;
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.btn:hover {
    box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}



.span {
    border-radius: 40px;
    padding: 6px 10px;
    width: 92px;
    height: 36px;
    background: var(--air-force-blue);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: var(--blue);
}





/* third block */


.thirdblock {
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding-bottom: 24px;

}


.select {
    border: 1px solid var(--air-force-blue);
    border-radius: 6px;
    padding: 12px 10px;
    width: 120px;
    height: 44px;

    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.25;
    color: var(--blue);

}



/* fourth block */

.fourthblock {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;
}

.label {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
    color: var(--black);
}

.input {
    border: 1px solid #d7e3ff;
    border-radius: 6px;
    padding: 12px 10px;
    width: 120px;
    height: 44px;

    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.25;
    color: var(--blue);
}



.fifthblock {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.amn {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: var(--blue);
}

.save {
    border: none;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: var(--white);

    border-radius: 10px;
    padding: 8px 30px;
    width: 160px;
    height: 44px;
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    background: var(--blue);
}

 .save:hover {
     box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
 }

 .save:active {
     box-shadow: none;
 }







@media screen and (min-width: 768px) {
    .container {
        padding: 32px 24px;
        width: 704px;
        height: 580px;
    }
    .containerDel{
        width: 592px;
        height: 208px;
    }

    .select {
        padding: 12px 10px;
        width: 656px;

    }
    .btnCancellDel,.btnDeletelDel{
        width: 160px;
        height: 44px;
        padding: 10px 30px;
    }
    .containerBtnDel{
        justify-content: flex-end;
        flex-direction: row;
    }


    .input {
        padding: 12px 10px;
        width: 656px;
    }



    .fifthblock {
        flex-direction: row;
        gap: 24px;
        justify-content: flex-end;
        align-items: center;
    }

    .amn {
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 18px;
        line-height: 1.33;
        text-align: center;
        color: var(--blue);
    }

    .save {
        font-size: 18px;
        line-height: 1.33;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 592px;
    }

    .select {
        width: 544px;
    }

    .input {
        width: 544px;
    }

    .save {
        width: 160px;
    }
}






.loader_container {
    position: absolute;
    top: -5px;
    left: 50%;
}

.loader {
    overflow: hidden;
    font-size: 10px;
    text-indent: -9999em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #65abf8;
    background: -moz-linear-gradient(left, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    background: -webkit-linear-gradient(left, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    background: -o-linear-gradient(left, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    background: -ms-linear-gradient(left, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    background: linear-gradient(to right, #65abf8 10%, rgba(101, 171, 248, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 75%;
    height: 75%;
    background: #65abf8;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #ecf2ff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
