/**
  |============================
  | General styles
  |============================
*/

.todayContainer {
  margin-bottom: 24px;
  flex: 1 0 auto;
}

.todayTitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
  color: var(--primary-color-black);
}

.listItemTools {
  display: flex;
  column-gap: 20px;
}

.listWaters {
  max-height: 180px;
  overflow: auto;
  margin-bottom: 12px;
}

.listWaters::-webkit-scrollbar {
  width: 2px;
  border-radius: 8px;
}

.listWaters::-webkit-scrollbar-track {
  background: var(--secondary-color-blue-2);
}

.listWaters::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 4px;
  background-color: var(--secondary-color-blue-3);
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 38px;
  padding: 12px 10px 12px 4px;
  border-bottom: 1px solid var(--secondary-color-blue-2);
}

.editButton:hover {
  border-bottom: 1px solid var(--secondary-color-blue-3);
}

.editIcon {
  stroke: var(--secondary-color-blue-3);
  fill: transparent;
  width: 16px;
  height: 16px;
}

.iconClose {
  fill: transparent;
  width: 24px;
  height: 24px;
}

.deleteButton:hover {
  border-bottom: 1px solid var(--secondary-color-red);
}

.deleteIcon {
  stroke: var(--secondary-color-red);
  fill: transparent;
  width: 16px;
  height: 16px;
}

.button {
  width: 115px;
  padding: 0;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: var(--primary-color-blue);
  display: flex;
  column-gap: 6px;
  align-items: center;
  transition: all 150ms linear;
}

.button:hover {
  color: var(--secondary-color-orange);
}

.span {
  font-size: 24px;
}

.buttonText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color-blue);
}

.containerDel {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.firstblock {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 24px;
}

.title {
  font-family: 'Roboto', sans-serif;
  max-width: 200px;
  font-size: 26px;
  font-weight: 500;
  line-height: 120%;
  color: var(--primary-color-black);
}

.exit {
  border: none;
  background-color: transparent;
  position: absolute;
  width: 0;
  height: 0;
  top: 30px;
  right: 18px;
}

.iconClose {
  width: 24px;
  height: 24px;
  stroke: var(--primary-color-blue);
}

.containerBtnDel {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.btnCancellDel {
  color: var(--primary-color-blue);
  background-color: var(--secondary-color-blue-2);
  box-shadow: none;
  min-width: 116px;
}

.btnCancellDel:hover {
  box-shadow: none;
  background-color: var(--secondary-color-blue-3);
}

.btnDeletelDel {
  background-color: var(--secondary-color-red);
  box-shadow: none;
  min-width: 116px;
}

.btnDeletelDel:hover {
  box-shadow: none;
  background-color: #ec1717;
}

.textDel {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: var(--primary-color-black);
  margin-bottom: 16px;
}

/**
  |============================
  | Tablet version styles
  |============================
*/

@media screen and (min-width: 768px) {
  .listWaters {
    max-height: 170px;
  }

  .todayTitle {
    font-size: 26px;
    line-height: 1.23077;
  }

  .buttonText {
    font-size: 18px;
    line-height: 1.33333;
  }

  .listItem {
    padding: 12px 10px 12px 4px;
  }

  .title {
    max-width: 600px;
  }

  .exit {
    top: 42px;
    right: 30px;
  }

  .containerBtnDel {
    flex-direction: row;
    justify-content: flex-end;
  }
}

/**
  |============================
  | Desktop version styles
  |============================
*/

@media screen and (min-width: 1440px) {
}
