.formContainer {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: start;
  align-items: start;
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
  color: var(--primary-color-black);
}

.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: var(--primary-color-black);
}

.inputContainer {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  fill: var(--primary-color-white);
  stroke: var(--primary-color-blue);
}

.input {
  border: solid 1px var(--secondary-color-blue-2);
  border-radius: 6px;
  padding: 12px 10px;
  width: 100%;
  height: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--secondary-color-blue-3);
  background: var(--primary-color-white);
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-color-blue-3);
}

.input:active {
  color: var(--primary-color-blue);
}

.input:focus {
  color: var(--primary-color-blue);
  outline: none;
}

.inputError {
  border-radius: 6px;
  padding: 12px 10px;
  width: 100%;
  height: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--secondary-color-red);
  border: 1px solid var(--secondary-color-red);
  background: var(--primary-color-white);
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: var(--secondary-color-red);
}

.button {
  border-radius: 10px;
  padding: 10px 30px;
  margin: 0 auto;
  width: 100%;
  height: 36px;
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  background: var(--primary-color-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--primary-color-white);
  border: none;
}

.button:hover {
  box-shadow: 0 4px 14px 0 var(--shadow-color-hover);
  cursor: pointer;
}

.button:active {
  box-shadow: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .formContainer {
    flex-wrap: nowrap;
    width: 336px;
  }

  .button {
    height: 44px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .formContainer {
    width: 384px;
    margin-right: 104px;
  }
}
