.modal {
  background: var(--primary-color-white);
  border-radius: 10px;
  padding: 24px 12px;
  width: 280px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
  color: var(--primary-color-black);
}

.closeButton {
  background-color: transparent;
  width: 24px;
  height: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  stroke-width: 1.5px;
  stroke: var(--primary-color-blue);
}

.normaList {
  margin-bottom: 12px;
}

.normaItem {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color-black);
}

.normaSpan {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  color: var(--primary-color-blue);
}

.explanation {
  border: 1px solid var(--secondary-color-blue-2);
  border-radius: 10px;
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--secondary-color-grey);
  margin-bottom: 24px;
}

.explanationSpan {
  color: var(--primary-color-blue);
}

.subheading {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--primary-color-black);
  margin-bottom: 16px;
}

.fieldset {
  height: 20px;
  border: none;
  margin-bottom: 16px;
  padding: 0;
}

.labelWom {
  margin-right: 24px;
  color: var(--primary-color-black);
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color-black);
  margin-bottom: 16px;
}

.input {
  margin-top: 8px;
  border: 1px solid var(--secondary-color-blue-2);
  border-radius: 6px;
  padding: 12px 10px;
  color: var(--primary-color-blue);
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 25;
  background-color: var(--primary-color-white);
}

.resultWrap {
  display: flex;
  margin-bottom: 24px;
}

.result {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-color-black);
  width: 190px;
}

.waterAmount {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--primary-color-blue);
}

.saveButton {
  border-radius: 10px;
  padding: 10px 30px;
  width: 256px;
  height: 44px;
  border: none;
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  background: var(--primary-color-blue);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--primary-color-white);
  justify-self: end;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 32px 24px;
    width: 704px;
  }

  .normaList {
    display: flex;
    gap: 24px;
  }

  .result {
    width: 342px;
  }

  .saveButton {
    width: 160px;
  }

  .btnWrap {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    width: 592px;
  }

  .normaList {
    display: flex;
    gap: 24px;
  }

  .result {
    width: 342px;
  }

  .saveButton {
    width: 160px;
  }

  .btnWrap {
    display: flex;
    flex-direction: row-reverse;
  }
}
