/* .background {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('../../images/HomePage/mob/bubble_mob_1x.png');
  box-sizing: border-box;
}

.welcome {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-image: url('../../images/WelcomePage/mob/backgr_welcome_mob_1x.png');
  box-sizing: border-box;
  overflow: visible;
}

@media screen and (min-resolution: 192dpi) {
  .background {
    background-image: url('../../images/HomePage/mob/bubble_mob_2x.png');
  }

  .welcome {
    background-image: url('../../images/WelcomePage/mob/backgr_welcome_mob_2x.png');
  }
}

@media screen and (min-resolution: 288dpi) {
  .background {
    background-image: url('../../images/HomePage/mob/bubble_mob_3x.png');
  }

  .welcome {
    background-image: url('../../images/WelcomePage/mob/backgr_welcome_mob_3x.png');
  }
}

@media screen and (min-width: 768px) {
  .background {
    background-image: url('../../images/HomePage/tab/bubble_tab_1x.png');
  }

  .welcome {
    background-image: url('../../images/WelcomePage/tabl/backgr_welcome_tabl_1x.png');
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .background {
    background-image: url('../../images/HomePage/tab/bubble_tab_2x.png');
  }

  .welcome {
    background-image: url('../../images/WelcomePage/tabl/backgr_welcome_tabl_2x.png');
  }
}

@media screen and (min-resolution: 288dpi) {
  .background {
    background-image: url('../../images/HomePage/tab/bubble_tab_3x.png');
  }

  .welcome {
    background-image: url('../../images/WelcomePage/tabl/backgr_welcome_tabl_3x.png');
  }
}

@media screen and (min-width: 1440px) {
  .background {
    background-image: url('../../images/WelcomePage/desk/backgr_bubbles_desk_1x.png');
  }

  .welcome {
    background-image: url('../../images/WelcomePage/desk/backgr_welcome_desk_1x.png');
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .background {
    background-image: url('../../images/WelcomePage/desk/backgr_bubbles_desk_2x.png');
  }

  .welcome {
    background-image: url('../../images/WelcomePage/desk/backgr_welcome_desk_2x.png');
  }
}

@media screen and (min-resolution: 288dpi) {
  .background {
    background-image: url('../../images/WelcomePage/desk/backgr_bubbles_desk_3x.png');
  }

  .welcome {
    background-image: url('../../images/WelcomePage/desk/backgr_welcome_desk_3x.png');
  }
} */

.layoutContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  .layoutContainer {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .layoutContainer {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .layoutContainer {
    width: 1440px;
    padding: 0 112px;
  }
}
