.pageContainer {
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .pageContainer {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .pageContainer {
    max-width: 1440px;
    display: flex;
    justify-content: flex-end;
  }
}
