.containerForm {
  width: 280px;
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.button {
  width: 280px;
}

.form {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
  margin-bottom: 16px;
  margin-top: 24px;
}

.title {
  color: var(--primary-color-black);
  font-weight: 500;
  font-size: 26px;
}

.label {
  /* width: 100%; */
  width: 280px;
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-color-black);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
}

.inputContainer {
  position: relative;
  width: 280px;
  /* width: 100%; */
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  fill: var(--primary-color-white);
  stroke: var(--primary-color-blue);
}

.input {
  /* width: 100%; */
  width: 280px;
  height: 44px;
  border: solid 1px var(--secondary-color-blue-2);
  border-radius: 6px;
  padding: 12px 10px;
  color: var(--primary-color-blue);
  box-sizing: border-box;
}

.inputError {
  border: 1px solid var(--secondary-color-red);
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-color-blue-3);
}

.input:focus-within {
  border: solid 1px var(--secondary-color-blue-2);
  outline: none;
}

.button {
  margin-bottom: 16px;
  /* width: 100%; */
  width: 280px;
  height: 36px;
  display: block;
  background-color: var(--primary-color-blue);
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  border-radius: 10px;
  color: var(--primary-color-white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border: none;
}

.button:hover,
.button:focus {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.link {
  color: var(--primary-color-blue);
  width: 56px;
  margin-left: 0px;
  text-align: left;
}

.link:hover,
.link:focus {
  color: var(--secondary-color-orange);
}

.error {
  color: var(--secondary-color-red);
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .containerForm {
    display: flex;
    flex-wrap: nowrap;
    width: 336px;
    margin-top: 50px;
    text-align: left;
    align-items: start;
  }

  .button {
    width: 100%;
    height: 44px;
    font-size: 18px;
  }
    .label {
      width: 100%;
}
.inputContainer {
  position: relative;
  width: 100%;
}
.input {
  width: 100%;
}

}
@media screen and (min-width: 1440px) {
  .containerForm {
    width: 384px;
    height: 404px;
    margin-right: 100px;
    margin-top: 140px;
  }
    .form {
      width: 384px;
      /* margin-top: 162px; */
    }

}
