.containerForm {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
}

.title {
  color: var(--primary-color-black);
  font-weight: 500;
  font-size: 26px;
}

.label {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  color: var(--primary-color-black);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  fill: var(--primary-color-white);
  stroke: var(--primary-color-blue);
}

.input {
  width: 100%;
  height: 44px;
  border: solid 1px var(--secondary-color-blue-2);
  border-radius: 6px;
  padding: 12px 10px;
  color: var(--primary-color-blue);
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

.inputError {
  border: 1px solid var(--secondary-color-red);
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-color-blue-3);
}

.input:focus-within {
  border: solid 1px var(--secondary-color-blue-2);
  outline: none;
}

.button {
  margin-bottom: 16px;
  width: 100%;
  height: 36px;
  display: block;
  background-color: var(--primary-color-blue);
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  border-radius: 10px;
  color: var(--primary-color-white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border: none;
}

.button:hover,
.button:focus {
  box-shadow: 0 4px 14px 0 var(--shadow-color-hover);
}

.link {
  color: var(--primary-color-blue);
  width: 56px;
}

.link:hover,
.link:focus {
  color: var(--secondary-color-orange);
}

.error {
  color: var(--secondary-color-red);
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .containerForm {
    flex-wrap: nowrap;
    width: 336px;
  }

  .button {
    height: 44px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .containerForm {
    width: 384px;
    margin-right: 104px;
  }
}
