.welcome {
  overflow: hidden;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('../../images/WelcomePage/mob/backgr_welcome_mob_1x.png');
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px) {
  .welcome {
    background-image: url('../../images/WelcomePage/mob/backgr_welcome_mob_2x.png');
  }
}

@media screen and (min-resolution: 288dpi) and (min-width: 320px) {
  .welcome {
    background-image: url('../../images/WelcomePage/mob/backgr_welcome_mob_3x.png');
  }
}

@media screen and (min-width: 768px) {
  .welcome {
    min-height: calc(100vh - 70px);
    background-image: url('../../images/WelcomePage/tabl/backgr_welcome_tabl_1x.png');
    background-position: 10% 97%;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .welcome {
    background-image: url('../../images/WelcomePage/tabl/backgr_welcome_tabl_2x.png');
  }
}

@media screen and (min-resolution: 288dpi) and (min-width: 768px) {
  .welcome {
    background-image: url('../../images/WelcomePage/tabl/backgr_welcome_tabl_3x.png');
  }
}

@media screen and (min-width: 1440px) {
  .welcome {
    /* min-height: calc(100vh - 65px); */
    background-image: url('../../images/WelcomePage/desk/backgr_bubbles_desk_1x.png'),
      url('../../images/WelcomePage/desk/backgr_welcome_desk_1x.png');
    background-position: center, center bottom;
    background-size: contain, contain;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .welcome {
    background-image: url('../../images/WelcomePage/desk/backgr_bubbles_desk_2x.png'),
      url('../../images/WelcomePage/desk/backgr_welcome_desk_2x.png');
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 288dpi) {
  .welcome {
    background-image: url('../../images/WelcomePage/desk/backgr_bubbles_desk_3x.png'),
      url('../../images/WelcomePage/desk/backgr_welcome_desk_3x.png');
  }
}
