@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  /* Primary Colors */
  --primary-color-white: #ffffff;
  --primary-color-black: #2f2f2f;
  --primary-color-blue: #407bff;

  /* Secondary Colors */
  --secondary-color-red: #ef5050;
  --secondary-color-orange: #ff9d43;
  --secondary-color-blue-1: #ecf2ff;
  --secondary-color-blue-2: #d7e3ff;
  --secondary-color-blue-3: #9ebbff;

  /* Backdrop Colors */
  --backdrop-color-black: rgba(0, 0, 0, 0.8);
  --backdrop-color-loader: rgba(255, 255, 255, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
