.background {
  /* min-height: 100vh; */
  overflow: hidden;
  background-repeat: no-repeat, no-repeat;
  background-size: 280px 208px, 100%;
  background-position: top 106px center, top 52px left 0;
  background-image: url('../../images/HomePage/mob/bottle_home_mob_1x.png'),
    url('../../images/HomePage/mob/bubble_mob_1x.png');
}

.home {
  max-width: 320px;
  padding: 0 20px 40px 20px;
  margin: 24px auto 0px;
}

.bottleSection {
  display: flex;
  flex-direction: column;
  gap: 232px;
  margin-bottom: 40px;
}

.statisticsSection {
  border-radius: 10px;
  box-shadow: 0 4px 14px 0 var(--shadow-color);
  background: var(--secondary-color-blue-1);
  padding: 24px 8px;
}

.todayWaterList {
  margin-bottom: 24px;
}

@media screen and (min-resolution: 192dpi) {
  .background {
    background-image: url('../../images/HomePage/mob/bottle_home_mob_2x.png'),
      url('../../images/HomePage/mob/bubble_mob_2x.png');
  }
}

@media screen and (min-resolution: 288dpi) {
  .background {
    background-image: url('../../images/HomePage/mob/bottle_home_mob_3x.png'),
      url('../../images/HomePage/mob/bubble_mob_3x.png');
  }
}

/* ----------Tablet--------- */
@media screen and (min-width: 768px) {
  .background {
    background-size: 518px 386px, 100%;
    background-position: top 40px center, top 24px left 0;
    background-image: url('../../images/HomePage/tab/bottle_home_tab_1x.png'),
      url('../../images/HomePage/tab/bubble_tab_1x.png');
  }

  .home {
    max-width: 768px;
    padding: 0px 32px 44px 32px;
    margin-top: 40px;
  }

  .bottleSection {
    gap: 326px;
  }

  .statisticsSection {
    padding: 32px 24px;
  }

  @media screen and (min-resolution: 192dpi) {
    .background {
      background-image: url('../../images/HomePage/tab/bottle_home_tab_2x.png'),
        url('../../images/HomePage/tab/bubble_tab_2x.png');
    }
  }

  @media screen and (min-resolution: 288dpi) {
    .background {
      background-image: url('../../images/HomePage/tab/bottle_home_tab_3x.png'),
        url('../../images/HomePage/tab/bubble_tab_3x.png');
    }
  }
}

/*---------- Desk ----------------*/
@media screen and (min-width: 1440px) {
  .background {
    background-size: 738px 548px, 1404px;
    background-position: top 22px left 38.67px, top 58px left 9px;
    background-image: url('../../images/HomePage/desk/bottle_home_desk_1x.png'),
      url('../../images/WelcomePage/desk/backgr_bubbles_desk_1x.png');
  }

  .home {
    max-width: 1440px;
    padding: 0 112px 40px 112px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .bottleSection {
    min-width: 592px;
    margin-top: 32px;
    margin-bottom: 0px;
    gap: 466px;
  }

  .statisticsSection {
    width: 592px;
    height: 680px;
  }

  @media screen and (min-resolution: 192dpi) {
    .background {
      background-image: url('../../images/HomePage/desk/bottle_home_desk_2x.png'),
        url('../../images/WelcomePage/desk/backgr_bubbles_desk_2x.png');
    }
  }

  @media screen and (min-resolution: 288dpi) {
    .background {
      background-image: url('../../images/HomePage/desk/bottle_home_desk_3x.png'),
        url('../../images/WelcomePage/desk/backgr_bubbles_desk_3x.png');
    }
  }
}

@media screen and (min-width: 1441px) {
  .background {
    background-size: 100%;
    background-position: top 58px left 9px;
    background-image: url('../../images/WelcomePage/desk/backgr_bubbles_desk_1x.png');
  }

  .home {
    background-repeat: no-repeat;
    background-size: 738px 548px;
    background-position: top 22px left 38.67px;
    background-image: url('../../images/HomePage/desk/bottle_home_desk_1x.png');
  }

  @media screen and (min-resolution: 192dpi) {
    .background {
      background-image: url('../../images/WelcomePage/desk/backgr_bubbles_desk_2x.png');
    }

    .home {
      background-image: url('../../images/HomePage/desk/bottle_home_desk_2x.png');
    }
  }

  @media screen and (min-resolution: 288dpi) {
    .background {
      background-image: url('../../images/WelcomePage/desk/backgr_bubbles_desk_3x.png');
    }

    .home {
      background-image: url('../../images/HomePage/desk/bottle_home_desk_3x.png');
    }
  }
}
