.background {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('/images/HomePage/mob/bubble_mob_1x.png');
  padding-top: 24px;
  padding-bottom: 40px;
}

.content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-width: 280px;
}

.dailyNorma {
  width: 164px;
  height: 76px;
  padding-bottom: 8px;
}

.bottleSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 40px;
}

.bottle {
  width: 280px;
  height: 208px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  background-size: contain;
  background-image: url('../../images/HomePage/mob/bottle_home_mob_1x.png');
}

.statisticsSection {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 14px 0 var(--shadow-color);
  background: var(--secondary-color-2);
  padding: 24px 8px;
}

.todayWaterList {
  padding-bottom: 24px;
}

@media screen and (min-resolution: 192dpi) {
  .background {
    background-image: url('../../images/HomePage/mob/bubble_mob_2x.png');
  }

  .bottle {
    background-image: url('../../images/HomePage/mob/bottle_home_mob_2x.png');
  }
}

@media screen and (min-resolution: 288dpi) {
  .background {
    background-image: url('../../images/HomePage/mob/bubble_mob_3x.png');
  }

  .bottle {
    background-image: url('../../images/HomePage/mob/bottle_home_mob_3x.png');
  }
}

/* ----------Tablet--------- */
@media screen and (min-width: 768px) {
  .background {
    background-image: url('../../images/HomePage/tab/bubble_tab_1x.png');
    padding-bottom: 44px;
  }

  .bottle {
    background-image: url('../../images/HomePage/tab/bottle_home_tab_1x.png');
    width: 518px;
    height: 386px;
  }

  .statisticsSection {
    width: 704px;
    flex: 1;
    padding: 32px 24px;
  }

  .dailyNorma {
    position: absolute;
    z-index: 10;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .background {
    background-image: url('../../images/HomePage/tab/bubble_tab_2x.png');
  }

  .bottle {
    background-image: url('../../images/HomePage/tab/bottle_home_tab_2x.png');
  }
}

@media screen and (min-resolution: 288dpi) {
  .background {
    background-image: url('../../images/HomePage/tab/bubble_tab_3x.png');
  }
  .bottle {
    background-image: url('../../images/HomePage/tab/bottle_home_tab_3x.png');
  }
}

/*---------- Desk ----------------*/
@media screen and (min-width: 1440px) {
  .content {
    flex-direction: row;
  }

  .background {
    background-image: url('../../images/WelcomePage/desk/backgr_bubbles_desk_1x.png');
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .bottleSection {
    z-index: 2;
    margin-right: -41.67px;
  }

  .bottle {
    width: 739px;
    height: 548px;
    background-image: url('../../images/HomePage/desk/bottle_home_desk_1x.png');
  }

  .dailyNorma {
    left: 73.33px;
    top: 30px;
  }

  .statisticsSection {
    z-index: 1;
    width: 592px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .background {
    background-image: url('../../images/WelcomePage/desk/backgr_bubbles_desk_2x.png');
  }

  .bottle {
    background-image: url('../../images/HomePage/desk/bottle_home_desk_2x.png');
  }
}

@media screen and (min-resolution: 288dpi) {
  .background {
    background-image: url('../../images/WelcomePage/desk/backgr_bubbles_desk_3x.png');
  }
  .bottle {
    background-image: url('../../images/HomePage/desk/bottle_home_desk_3x.png');
  }
}
