.home {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 24px;
  padding: 0 20px 40px 20px;
  min-height: 100vh;
  text-align: left;
}

.dailyNorma {
  margin-bottom: 8px;
}

.bottleSection {
  margin-bottom: 40px;
}

.bottle {
  margin-bottom: 16px;
  height: 208px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../images/HomePage/mob/bottle_home_mob_1x.png');
}

.statisticsSection {
  border-radius: 10px;
  box-shadow: 0 4px 14px 0 var(--shadow-color);
  background: var(--secondary-color-blue-1);
  padding: 24px 8px;
}

.todayWaterList {
  margin-bottom: 24px;
}

@media screen and (min-resolution: 192dpi) {
  .bottle {
    background-image: url('../../images/HomePage/mob/bottle_home_mob_2x.png');
  }
}

@media screen and (min-resolution: 288dpi) {
  .bottle {
    background-image: url('../../images/HomePage/mob/bottle_home_mob_3x.png');
  }
}

/* ----------Tablet--------- */
@media screen and (min-width: 768px) {
  .home {
    max-width: 768px;
    padding: 0 32px 44px 32px;
    margin-top: 40px;
  }

  .bottle {
    height: 386px;
    background-position: center;
    background-image: url('../../images/HomePage/tab/bottle_home_tab_1x.png');
  }

  .statisticsSection {
    padding: 32px 24px;
  }

  .dailyNorma {
    margin: 0;
    position: absolute;
    z-index: 10;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .bottle {
    background-image: url('../../images/HomePage/tab/bottle_home_tab_2x.png');
  }
}

@media screen and (min-resolution: 288dpi) {
  .bottle {
    background-image: url('../../images/HomePage/tab/bottle_home_tab_3x.png');
  }
}

/*---------- Desk ----------------*/
@media screen and (min-width: 1440px) {
  .home {
    max-width: 1440px;
    padding: 0 112px 40px 112px;
    margin-top: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative; /* Для управління z-index */
  }

  .bottleSection {
    position: relative;
    flex: 1;
    max-width: 739px;
    margin-left: -73.33px;
    z-index: 1; /* під статистикою */
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  }

  .bottle {
    width: 739px;
    height: 548px;
    margin-bottom: 24px;
    background-image: url('../../images/HomePage/desk/bottle_home_desk_1x.png');
  }

  .dailyNorma {
    top: 30px;
    left: 73.33px;
    z-index: 3;
  }

  .statisticsSection {
    z-index: 1;
    min-width: 592px;
    height: 680px;
    margin-left: -40.67px;
    z-index: 2; /* над бутилкою */
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .bottle {
    background-image: url('../../images/HomePage/desk/bottle_home_desk_2x.png');
  }
}

@media screen and (min-resolution: 288dpi) {
  .bottle {
    background-image: url('../../images/HomePage/desk/bottle_home_desk_3x.png');
  }
}
